.group-cursor > *,
.cursor {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.group-typewriter > *,
.typewriter-animation {
  animation:
    typewriter 5s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    translate: 0 0;
  }
  to {
    translate: 100% 0;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
